.container {
  width: 400px;
  height: 250px;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  background: transparent;
  border-radius: 30px;
  margin: auto;
}

@media only screen and (min-width: 450px) {
  .container {
    width: 700px;
    height: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 800px;
    height: 300px;
  }
}

.item {
  width: 150px;
  height: 150px;
  background: white;
  background-image: url("/assets/me.jpg");
  background-size: contain;
  border-radius: 100%;
}
