@import "tailwindcss";

@font-face {
  font-family: "pixtech";
  src: url("/fonts/pixtech.ttf");
}

@font-face {
  font-family: "spaceGrotesk";
  src: url("/fonts/SpaceGrotesk-Regular.otf");
}

@theme {
  --font-pixtech: "pixtech", sans-serif;
  --font-spaceGrotesk: "spaceGrotesk", sans-serif;
}

@layer utilities {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-spaceGrotesk bg-gray-200 text-gray-900 font-medium m-0;
  }

  p {
    @apply md:text-[16px] text-[14px];
  }

  .text-body-xsmall {
    @apply md:text-[12px] text-[10px];
  }

  .text-body-small {
    @apply md:text-[14px] text-[12px];
  }

  .text-body-medium {
    @apply md:text-[18px] text-[16px];
  }

  .text-heading {
    @apply md:text-[24px] text-[20px];
  }

  .text-heading-medium {
    @apply md:text-[28px] text-[24px];
  }

  .text-heading-large {
    @apply md:text-[64px] text-[44px];
  }

  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
